/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.link_produktliste {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  max-width: 700px;
}

.grid_title {
  grid-column: 1 / -1;
}

.produkt {
  border: black solid 1px;
  display: block;
  padding: 50px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-family: "Bebas Neue", sans-serif;
}

.h2_main {
  text-align: left;
  margin-top: 100px;
  margin-bottom: 30px;
  font-family: "Bebas Neue", sans-serif;
}

.h1_main {
  text-align: left;
  margin-left: 50px;
  margin-top: 50px;
  font-family: "Julius Sans One", sans-serif;
}
